.card{
    background-color: rgb(23, 24, 24);
    width: 420px;
    height: 270px;
}

.superior {
    display: flex;
    align-items: center;
    gap: 15px;
    ion-img {
        width: 70px;
        display: inline;
    }
    ion-card-title {
        color: purple;
        font-weight: bold;
    }
}

ion-card-subtitle{
    margin-bottom: -15px;
    color: white;
}

