<form [formGroup]="myForm">
    <div>
      <label>
        Nombre:
        <input formControlName="name" placeholder="Tu nombre">
      </label>
    </div>
    <div>
      <label>
        Apellido:
        <input formControlName="surname" placeholder="Tu apellido">
      </label>
    </div>
    <div>
        <label>
        Edad:
        <input type="number" formControlName="age" placeholder="Tu edad">
      </label>
    </div>
    <div>
        <label>
          Descripción del usuario:
          <input formControlName="description" placeholder="Descripción">
        </label>
      </div>
    <ion-button color="medium" (click)="onApply(myForm)">Crear usuario</ion-button>
</form>