<ion-header [translucent]="true">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-button (click)="onNewUser($event)">Crear nuevo usuario</ion-button>
  <div class="dividir">
    <div class="cont" *ngIf="!loading">
      <h1>Lista de usuarios</h1>
      <app-user-info appHighLight *ngFor="let user of (users.user$ | async) | favs:(favs.fav$ | async)" [usuario]="user"  (onTrashClicked)="onTrashClick(user)" (onCardClicked)="onCardClick(user)"  (onFavClicked)="onFavClick(user, $event)"></app-user-info>
    </div>
    <div *ngIf="!loading">
      <h1>Lista de favoritos</h1>
      <app-fav-info *ngFor="let fav of favs.fav$ | async" [id]="fav?.userId" (onTrashClickedFav)="onTrashClickFav(fav)"></app-fav-info>
    </div>
  </div>
  <ion-loading [isOpen]="loading" message="Cargando..."></ion-loading>
</ion-content>
